@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.contend-section.container.teste{
    background-color: #F3F0EC; 
    margin: 0;
    padding: 0;
}



.main-page.bg.library {
    flex-direction: column
}

.container.wraper-contend-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.library-titles {
    flex: 1 1 25rem;
    margin: 1rem 1.8rem;
}

.library-titles p {
    padding-right: 4rem;
    line-height: 1.6;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    
}

.library-titles h4 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 250;
    margin-bottom: 0.8rem;
    text-transform: capitalize
}

/* h4.title-type {
    text-transform: capitalize; */
    /* width: 100%;
    text-align: left;
    cursor: pointer; */
/* } */

.contend-section.container {
    margin: 1rem 0;
    height: fit-content;
}

/* .link-item ul li {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .link-item ul li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #241F20;
    font-weight: 500;
    display: flex
} */

/* .link-item ul li span {
    display: block;
    margin-right: 2rem;
    color: #3649F5;
    font-size: 1.4rem;
} */

/* button.link-title {
    border: none;
    background-color: transparent;
} */
.accordion h3{
text-transform: capitalize;
}


.panel a {
    display: block;
    color: black;
    font-size: 1.6rem;
    line-height: 2;
    text-decoration: underline;    
}



@media(max-width:826px) {
    .container.wraper-contend-section {
        margin-bottom: 0 !important;
    }

    .contend-section.container {
        justify-content: flex-start;
        min-width: 100%;
        margin-bottom: 5rem;
    }

    .library-titles p {
        line-height: 19px;
        padding-right: 0px
    }
}