/* 4584 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ❤️ */
.degree h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

nav.menu {
    background-color: #002140;
}

ul.menu-itens.container {
    display: flex;
}

ul.menu-itens.container li {
    margin: 1rem;
}

ul.menu-itens.container li a {
    display: block;
    padding: 1rem;
    color: #B6B6B6;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    /* border-bottom: 1px solid #002140; */
}

ul.menu-itens.container li a:hover {
    /* border-bottom: 1px solid #fff; */
    width: fit-content;
}

#toggle-menu {
    background-color: rgb(141, 135, 135);
    padding: 3rem 0;
}

.container.sub-menu {
    display: flex;
    justify-content: space-between;
}

.degree ul {
    margin-top: 2rem;
}

.degree ul li {
    margin: 0.65rem 0;
}

.degree ul li:last-child {
    border-bottom: 1px dotted red;
    font-size: 1.2rem;
    font-style: italic;
}

.degree ul li a {
    display: block;
    color: #4D4D4D;
}