.main-page.editais {
    margin: 5rem 0;
    width: 100%;
    /* background-color: brown; */
}

.edital-item {
    max-width: 50vw;
    margin: 3rem 0;
}

.panel.edital-contente{
    padding: 1.8rem 2rem;
    border-bottom: 1px solid gray;  
}



p.edital-title {
    display: block;
    color: #23232c;
    font-family: 'Source Serif Pro', serif; 
    font-weight: 550;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
    
}

p.edital-desc{
    margin: 2rem 0;
    color: #70757a;
}

.edital-contente {
    background-color: #D9D9D9;
    padding: 0 2rem;
}

span.inscri-data{
    display: inline-block;
    font-weight: 550;
}

span.mais-info{
    display: block;
    font-weight: 550;
}


span.mais-info a {
    display: inline-block;
     font-weight: normal;
     margin-left: 10px;
   
}




@media screen and (max-width:980px) {
    .edital-item {
        max-width: 100%;
    }
}